<%- include("./FixedHeader/header") -%>

<div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">United States</h2>
      <h3 class="section-subheading text-muted">please choose the items for deletion.</h3>
    </div>
    <div class="row">
     
        <% posts.forEach(post=> { %>
          <%- include("./partials/singlePost", {post:post}); %>
      <% }); %>
  
 
  </div>
  </div>


<%- include("./forHomePage/footer")-%>
<%- include("./partials/subFooter")-%>