
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="portfolio-item">
<a href='<%= post.id %>'>
            <img class="img-fluid" src="<%= post.imagePathForWeb %>" alt=""/></a>
        <div class="portfolio-caption">
            <div class="portfolio-caption-heading"><%= post.name %></div>
            <div class="portfolio-caption-subheading text-muted"><%= post.info %></div>
        </div>
    </div>
</div>
